body{
	margin: 0; 
	background: url(../images/dark_wood.png);
	color: white; 
	font-family: 'Amatic SC', cursive;
}


.contact{
	text-align: center;
	padding: 10px; 
}
.contact h2{
	color: #ffffff; 
}
.contact img{
	border: none; 
	width: 100px; 
	height: auto; 
	margin: 10px; 
	border-radius: 50%; 
}
.contact img:hover{
	opacity: .8; 
	border-radius: 40%; 
} 

.head{
	background: #595958;
	opacity: .70;  
	margin: 0px;
}
header img{ 
	width: 100px;
	vertical-align: middle; 
	opacity: 1.0;
}
header a{
	text-decoration: none;
	color: white; 
}
header h1{ 
	vertical-align: middle;
	font-size: 60px; 
	display: inline-block;
	border-bottom: 2px solid red;
	text-shadow:
	-1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
header ul{
	vertical-align: middle;
	float: right;
	list-style: none; 
	padding: 20px; 
	display: inline-block;
}
header ul li {
	display: inline-block;
	padding: 10px; 
	font-size: 25px; 
	border: solid #ffffff;
	border-radius: 10px;
	margin: 10px; 
	float: right; 
}
header ul li:hover{
	background: red;
	color: black; 
	cursor: pointer;
}

#resume{
	padding: 10px 100px; 
	border: solid #ffffff;
	margin-right: auto; 
	margin-left: auto; 
	margin-top: 50px; 
	margin-bottom: 50px; 
	border-radius: 10px;
	width: 500px; 
}
#resume h2{
	font-size: 32px;
	text-decoration: underline;
}
.location{
	display: inline-block;
	color: red; 
	padding:0px; 
	font-size: 25px;
	vertical-align: middle;
}
.experience{
	display: inline-block;
	font-size: 25px; 
}
#name{
	background: #595958;
	opacity: .70;  
	text-align: center;
}
#home{
	cursor: pointer;
	background: red;
}
