body{
	margin: 0; 
	background: url(../images/dark_wood.png);
	color: white; 
	font-family: 'Amatic SC', cursive;
}
a{
	color: red; 
}
.head{
	background: #595958;
	opacity: .70;  
	margin: 0px;
}

.contact{
	text-align: center;
	padding: 10px; 
	margin-top:50px;
	margin-bottom: 50px;
	margin-right: auto; 
	margin-left: auto;
	border: solid red;
	border-radius: 10px;
	width: 700px;
}

.contact img{
	background: #000000;
	border: black solid; 
	width: 250px; 
	height: auto; 
	margin: 10px; 
	border-radius: 50%; 
}
.contact img:hover{
	opacity: .8; 
	background: red; 
	border: solid red;
	border-radius: 50%;
} 

header img{ 
	width: 100px;
	vertical-align: middle; 
	opacity: 1.0;
}
header a{
	text-decoration: none;
	color: white; 
}
header a:hover{
	color: black; 
}
header h1{ 
	vertical-align: middle;
	font-size: 60px; 
	display: inline-block;
	border-bottom: 2px solid red;
	text-shadow:
	-1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}
header ul{
	vertical-align: middle;
	float: right;
	list-style: none; 
	padding: 20px; 
	display: inline-block;
}
header ul li {
	display: inline-block;
	padding: 10px; 
	font-size: 25px; 
	border: solid #ffffff;
	border-radius: 10px;
	margin: 10px; 
	float: right; 
}
header ul li:hover{
	background: red;
	color: black; 
	cursor: pointer;
}

#resume{
	padding: 10px 100px; 
	border: solid #ffffff;
	margin-right: auto; 
	margin-left: auto; 
	margin-top: 50px; 
	margin-bottom: 50px; 
	border-radius: 10px;
	width: 500px; 
}
#resume h2{
	font-size: 32px;
	text-decoration: underline;
}
.location{
	display: inline-block;
	color: red; 
	padding-bottom: 10px; 
	font-size: 25px;
	vertical-align: middle;
}
.experience{
	display: inline-block;
	font-size: 25px; 
}
#name{
	background: #595958;
	opacity: .70;  
	text-align: center;
}
#home{
	cursor: pointer;
	background: red;
}
#home a{
	color: white; 
}
#mgwu{
	width: 700px; 
}
.pic{
	padding: 10px;
	border: red solid; 
	border-radius: 10px; 
	margin: 10px;
	display: inline-block;
}
.text{
	display: inline-block;
	font-size: 30px;
}
#alexis{
	width:300px;
}
#images{
	text-align: center;
	width: 1200px;
	margin-top: 50px; 
	margin-bottom: 50px;
	border: solid white; 
	border-radius: 10px;
	margin-right: auto; 
	margin-left: auto; 
}
#play{
	width: 200px;
	float: right;
}
#yes{
	text-decoration: underline;
	font-size: 40px; 
	text-align: center;
}
